.sen-editor .sen-preview.halloween {
    background-image: url(../../../images/pumpkins.svg#clear) !important;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    background-size: 125px auto !important;
}
