<h2>PUSHS</h2>
<div class="group">
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Score (Reputation)</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Show loss score</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Show my downvotes in score</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Achievements (eg. badges, privileges acquired)</h3>
            <p>foobarbaz</p>
        </div>
    </div>
</div>


<h2>APPEARANCE</h2>
<div class="group">
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Dark theme (internal pages)</h3>
            <p>foobarbaz</p>
        </div>
    </div>
</div>

<h2>STACK EXCHANGE WEBSITES</h2>
<div class="group">
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Image viewer</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Copy code to clipboard</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Prevent duplicate pages</h3>
            <p>foobarbaz</p>
        </div>
    </div>
</div>

<h2>EDITOR</h2>
<div class="group">
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Improved text editor</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Inverts the editor's position</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Sync scrolling with preview</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Automatically previews in full screen</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Automatically maximizes the screen when focusing (only the first time)</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Replace tabs with spaces (Experimental)</h3>
            <p>foobarbaz</p>
        </div>
    </div>
    <div class="row" data-ignored="hosts[host]">
        <div class="col">
            <div class="toggle">
                <input type="checkbox" id="old" disabled>
                <label for="old"></label>
            </div>
        </div>
        <div class="col">
            <h3>Uses italic as <code>_foo_</code> instead of <code>*foo*</code></h3>
            <p>foobarbaz</p>
        </div>
    </div>
</div>

<h2>DATA</h2>
<div class="group">
    <button>Clear cache</button>
    <button>Reset all data</button>
</div>
