<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>Prevent Duplicate Tabs</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/toggle.css">
    <link rel="stylesheet" type="text/css" href="../css/setup.css">
    <link rel="stylesheet" type="text/css" href="../css/stackexchange.css">
    <link rel="stylesheet" type="text/css" href="../css/tabs.css">
    <link rel="stylesheet" type="text/css" href="../css/chat.css">
    <link rel="stylesheet" type="text/css" href="../css/dialog.css">
</head>
<body id="setup-opts">
    <main id="setup-tab">
        <h2>PUSHS</h2>
        <div class="group">
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Score</h3>
                    <p>Show new score in badge</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Show loss score</h3>
                    <p>Show badges score loss</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Show my downvotes in score</h3>
                    <p>foobarbaz</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Achievements</h3>
                    <p>badges, privileges acquired</p>
                </div>
            </div>
        </div>


        <h2>APPEARANCE</h2>
        <div class="group">
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Dark theme (internal pages)</h3>
                    <p>foobarbaz</p>
                </div>
            </div>
        </div>

        <h2>STACK EXCHANGE WEBSITES</h2>
        <div class="group">
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Image viewer</h3>
                    <p>Visualizador de fotos nas postagens e chat</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Copy code to clipboard</h3>
                    <p>Adiciona atalho para copiar códigos em postagens</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Prevent duplicate pages</h3>
                    <p>previne que hajam abas duplicadas dos sites da rede stackexchange</p>
                </div>
            </div>
        </div>

        <h2>EDITOR</h2>
        <div class="group">
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Improved text editor</h3>
                    <p>Muda o editor do site para um editor aprimorado com modo de fullscreen e rolagem sincronizada com o previsualizador</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Inverts the editor's position</h3>
                    <p>Inverte a posição do preview com o editor</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Sync scrolling with preview</h3>
                    <p>sincroniza a posição do scrollbar do visualizador e do preview baseado em porcentagem</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Previews when full screen</h3>
                    <p>Ao entrar em modo fullscreen irá exibir automaticamente o preview</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Maximize when focusing</h3>
                    <p>Maxmiza automaticamente o editor quando você focalizar o campo de texto, apenas na primeira vez que focalizar o editor</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Indentation</h3>
                    <p>Replace tabs with spaces (Experimental)</p>
                </div>
            </div>
            <div class="row" data-ignored="hosts[host]">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Italic</h3>
                    <p>Uses italic as <code>_foo_</code> instead of <code>*foo*</code></p>
                </div>
            </div>
        </div>

        <div class="max">
            <h2>DATA</h2>
            <div class="group">
                <button>Clear cache</button>
                <button>Reset all data</button>
            </div>
        </div>

        <div class="max">
            <h2>META</h2>
            <div class="group">
                <button data-tab="about-tab">
                    <img src="../images/about.svg" alt="Sobre o add-on">
                    <span data-i18n="about">Sobre</span>
                </button>
                <a class="btn" href="https://github.com/brcontainer/stack-exchange-notifications/issues/new">
                    <img src="../images/bug.svg">
                    <span data-i18n="report">Reportar problema</span>
                </a>
            </div>
        </div>
    </main>

    <div class="dialog hide">
        <div class="modal">
            <div class="content"></div>
            <div class="act alert hide">
                <button data-i18n="dialog_ok"></button>
            </div>
            <div class="act confirm hide">
                <button data-i18n="dialog_confirm"></button>
                <button data-i18n="dialog_cancel"></button>
            </div>
        </div>
    </div>
</body>
</html>
