<div class="setup">
    <h2 data-i18n="setup_pushs"></h2>
    <div class="group">
        <div class="field">
            <span class="label" data-i18n="setup_incoming"></span>

            <div class="toggle">
                <input type="checkbox" id="inbox" disabled>
                <label for="inbox"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_score"></span>

            <div class="toggle">
                <input type="checkbox" id="score" disabled>
                <label for="score"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_loss_score"></span>

            <div class="toggle">
                <input type="checkbox" id="lose_score" disabled>
                <label for="lose_score"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_my_downvotes"></span>

            <div class="toggle">
                <input type="checkbox" id="score_bydowns" disabled>
                <label for="score_bydowns"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_achievements"></span>

            <div class="toggle">
                <input type="checkbox" id="acquired" disabled>
                <label for="acquired"></label>
            </div>
        </div>
    </div>

    <h2 data-i18n="setup_apperance"></h2>
    <div class="group">
        <div class="field">
            <span class="label" data-i18n="setup_apperance"></span>

            <div class="toggle">
                <input type="checkbox" id="dark_theme" disabled>
                <label for="dark_theme"></label>
            </div>
        </div>

        <!--
        <div class="field">
            <span class="label">Dark theme sites (Experimental)</span>

            <div class="toggle">
                <input type="checkbox" id="dark_theme_sites" disabled>
                <label for="dark_theme_sites"></label>
            </div>
        </div>
        -->
    </div>

    <h2 data-i18n="setup_site"></h2>
    <div class="group">
        <div class="field">
            <span class="label" data-i18n="setup_image_viewer"></span>

            <div class="toggle">
                <input type="checkbox" id="gallery_box" disabled>
                <label for="gallery_box"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_clipboard"></span>

            <div class="toggle">
                <input type="checkbox" id="copy_code" disabled>
                <label for="copy_code"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_prevent_duplicate_pages"></span>

            <div class="toggle">
                <input type="checkbox" id="prevent_duplicate" disabled>
                <label for="prevent_duplicate"></label>
            </div>
        </div>
    </div>

    <h2 data-i18n="setup_editor"></h2>
    <div class="group">
        <div class="field">
            <span class="label" data-i18n="setup_improved_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_actived" disabled>
                <label for="editor_actived"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_invert_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_inverted" disabled>
                <label for="editor_inverted"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_sync_scroll_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_sync_scroll" disabled>
                <label for="editor_sync_scroll"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_auto_preview_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_preview" disabled>
                <label for="editor_preview"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_auto_fullscreen_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_auto_fs" disabled>
                <label for="editor_auto_fs"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_replace_tabs_by_spaces_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_tabs_by_spaces" disabled>
                <label for="editor_tabs_by_spaces"></label>
            </div>
        </div>
        <div class="field">
            <span class="label" data-i18n="setup_italic_editor"></span>

            <div class="toggle">
                <input type="checkbox" id="editor_italic" disabled>
                <label for="editor_italic"></label>
            </div>
        </div>
    </div>

    <div class="group-btns">
        <h2 data-i18n="setup_data"></h2>
        <div class="group">
            <a class="btn first" id="clear-cache" href="#" data-i18n="setup_clear_cache"></a>
            <a class="btn" id="clear-all-data" href="#" data-i18n="setup_reset_data"></a>
        </div>
    </div>
</div>
