<div class="setup">
    <h2>Pushs</h2>
    <div class="group">
        <div class="field">
            <span class="label">New inbox messages</span>

            <div class="toggle">
                <input type="checkbox" id="inbox" disabled>
                <label for="inbox"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Score (Reputation)</span>

            <div class="toggle">
                <input type="checkbox" id="score" disabled>
                <label for="score"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Achievements (eg. badges, privileges acquired)</span>

            <div class="toggle">
                <input type="checkbox" id="acquired" disabled>
                <label for="acquired"></label>
            </div>
        </div>
    </div>

    <h2>Appearance</h2>
    <div class="group">
        <div class="field">
            <span class="label">Dark theme (internal pages)</span>

            <div class="toggle">
                <input type="checkbox" id="dark_theme" disabled>
                <label for="dark_theme"></label>
            </div>
        </div>
    </div>

    <!--//
    <h2>Desktop</h2>
    <div class="group">
        <div class="field">
            <span class="label">Desktop Notifications (Experimental)</span>

            <div class="toggle">
                <input type="checkbox" id="desktop_notification" disabled>
                <label for="desktop_notification"></label>
            </div>
        </div>
    </div>
    -->

    <h2>Site</h2>
    <div class="group">
        <div class="field">
            <span class="label">Lightbox gallery</span>

            <div class="toggle">
                <input type="checkbox" id="gallery_box" disabled>
                <label for="gallery_box"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Copy code to clipboard</span>

            <div class="toggle">
                <input type="checkbox" id="copy_code" disabled>
                <label for="copy_code"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Prevent duplicate pages</span>

            <div class="toggle">
                <input type="checkbox" id="prevent_duplicate" disabled>
                <label for="prevent_duplicate"></label>
            </div>
        </div>
    </div>

    <h2>Editor</h2>
    <div class="group">
        <div class="field">
            <span class="label">Improved text editor</span>

            <div class="toggle">
                <input type="checkbox" id="editor_actived" disabled>
                <label for="editor_actived"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Invert editor position</span>

            <div class="toggle">
                <input type="checkbox" id="editor_inverted" disabled>
                <label for="editor_inverted"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Sync scroll with preview</span>

            <div class="toggle">
                <input type="checkbox" id="editor_sync_scroll" disabled>
                <label for="editor_sync_scroll"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Autopreview in fullscreen</span>

            <div class="toggle">
                <input type="checkbox" id="editor_preview" disabled>
                <label for="editor_preview"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Auto fullscreen when focusing (only the first time)</span>

            <div class="toggle">
                <input type="checkbox" id="editor_auto_fs" disabled>
                <label for="editor_auto_fs"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Replace tabs by spaces (Experimental)</span>

            <div class="toggle">
                <input type="checkbox" id="editor_tabs_by_spaces" disabled>
                <label for="editor_tabs_by_spaces"></label>
            </div>
        </div>
        <div class="field">
            <span class="label">Italic as _foo_ instead of *foo* (Unavailable)</span>

            <div class="toggle">
                <input type="checkbox" id="editor_italic" disabled>
                <label for="editor_italic"></label>
            </div>
        </div>
    </div>

    <div class="group-btns">
        <h2>Data</h2>
        <div class="group">
            <a class="btn first" id="clear-cache" href="#">
                Clear inbox and achivements cache
            </a>
            <a class="btn" id="clear-all-data" href="#">
                Reset all data
            </a>
        </div>
    </div>
</div>
