<div class="sen-editor xsen-editor-full xsen-editor-ready">
    <div class="sen-editor-toolbar">
        <a href="javascript:void(0);" class="sen-btn wmd-bold-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-italic-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="sen-btn wmd-link-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-quote-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-code-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-image-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-snippet-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="sen-btn wmd-olist-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-ulist-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-heading-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-hr-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="sen-btn wmd-undo-button"></a>
        <a href="javascript:void(0);" class="sen-btn wmd-redo-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="sen-btn sen-full-button"></a>
        <a href="javascript:void(0);" class="sen-btn sen-preview-button"></a>

        <!-- div class="sen-actions">
            <a href="javascript:void(0);" class="sen-save-button">Salvar</a>
            <a href="javascript:void(0);" class="sen-cancel-button">Cancelar</a>
        </div -->
    </div>

    <div class="sen-container">
        <div class="sen-textfield"></div>
        <div class="sen-preview"></div>
    </div>
</div>
