<div class="sen-editor xsen-editor-full xsen-editor-ready">
    <div class="sen-editor-toolbar">
        <a href="javascript:void(0);" class="wmd-bold-button"></a>
        <a href="javascript:void(0);" class="wmd-italic-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="wmd-link-button"></a>
        <a href="javascript:void(0);" class="wmd-quote-button"></a>
        <a href="javascript:void(0);" class="wmd-code-button"></a>
        <a href="javascript:void(0);" class="wmd-image-button"></a>
        <a href="javascript:void(0);" class="wmd-snippet-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="wmd-olist-button"></a>
        <a href="javascript:void(0);" class="wmd-ulist-button"></a>
        <a href="javascript:void(0);" class="wmd-heading-button"></a>
        <a href="javascript:void(0);" class="wmd-hr-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="wmd-undo-button"></a>
        <a href="javascript:void(0);" class="wmd-redo-button"></a>

        <span></span>

        <a href="javascript:void(0);" class="sen-full-button"></a>
        <a href="javascript:void(0);" class="sen-preview-button"></a>
    </div>

    <div class="sen-container">
        <div class="sen-textfield"></div>
        <div class="sen-preview"></div>
    </div>
</div>
