<div class="sen-editor-toolbar">
    <a href="javascript:void(0);" class="sen-btn wmd-bold-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-italic-button"><i></i></a>

    <!-- temporário -->
    <a href="javascript:void(0);" data-title="strikethrough text &lt;s&gt;" class="sen-btn sen-strikethrough-button"><i></i></a>

    <span></span>

    <a href="javascript:void(0);" class="sen-btn wmd-link-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-quote-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-code-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-image-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-snippet-button"><i></i></a>

    <span></span>

    <a href="javascript:void(0);" class="sen-btn wmd-olist-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-ulist-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-heading-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-hr-button"><i></i></a>

    <span></span>

    <a href="javascript:void(0);" class="sen-btn wmd-undo-button"><i></i></a>
    <a href="javascript:void(0);" class="sen-btn wmd-redo-button"><i></i></a>

    <span></span>

    <a href="javascript:void(0);" data-title="Maximize - Alt+F" data-title-inmax="Restore" class="sen-btn sen-full-button"><i></i></a>
    <a href="javascript:void(0);" data-title="Show preview - Alt+V" data-title-inpreview="Hide preview - Alt+V" class="sen-btn sen-preview-button"><i></i></a>
    <a href="javascript:void(0);" data-title="Change editor and preview position" class="sen-btn sen-flip-button"><i></i></a>
    <a href="javascript:void(0);" data-title="Enable/disable sync scroll" class="sen-btn sen-syncscroll-button"><i></i></a>

    <span></span>

    <a href="javascript:void(0);" class="sen-btn wmd-help-button"><i></i></a>

    <!-- div class="sen-actions">
        <a href="javascript:void(0);" class="sen-save-button">Salvar</a>
        <a href="javascript:void(0);" class="sen-cancel-button">Cancelar</a>
    </div -->

    <div class="sen-meta-flag">META</div>
</div>
