<div class="sen-gallery">
    <div class="sen-gallery-photos">
        <div class="sen-gallery-current">
            <span class="sen-text-error">Error in load image</span>
            <i class="sen-gallery-loader"></i>
        </div>
    </div>
    <div class="sen-gallery-footer"></div>

    <a href="#" class="sen-gallery-close"></a>
    <a href="#" class="sen-gallery-left">
        <span class="sen-gallery-icon"></span>
    </a>
    <a href="#" class="sen-gallery-right">
        <span class="sen-gallery-icon"></span>
    </a>
</div>
