<div class="setup">
    <h2>Pushs</h2>
    <div class="group">
        <p class="field">
            <span class="label">New inbox messages</span>

            <a data-switch="inbox" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Score (Reputation)</span>

            <a data-switch="score" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Achievements (eg. badges, privileges acquired)</span>

            <a data-switch="acquired" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
    </div>

    <h2>Appearance</h2>
    <div class="group">
        <p class="field">
            <span class="label">Dark theme (internal pages)</span>

            <a data-switch="dark_theme" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
    </div>

    <!--
    <h2>Desktop</h2>
    p class="field first">
        <span class="label">Desktop Notifications (Experimental)</span>

        <a data-switch="desktop_notification" data-switch-value="off" href="#">
            <small>on</small>
            <small>off</small>
        </a>
    </p
    -->

    <h2>Site</h2>
    <div class="group">
        <p class="field">
            <span class="label">Lightbox gallery</span>

            <a data-switch="gallery_box" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Copy code to clipboard</span>

            <a data-switch="copy_code" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Prevent duplicate pages</span>

            <a data-switch="prevent_duplicate" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
    </div>

    <h2>Editor</h2>
    <div class="group">
        <p class="field">
            <span class="label">Improved text editor</span>

            <a data-switch="editor_actived" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Invert editor position</span>

            <a data-switch="editor_inverted" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Sync scroll with preview</span>

            <a data-switch="editor_sync_scroll" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Autopreview in fullscreen</span>

            <a data-switch="editor_preview" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Auto fullscreen when focusing (only the first time)</span>

            <a data-switch="editor_auto_fs" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Replace tabs by spaces (Experimental)</span>

            <a data-switch="editor_tabs_by_spaces" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
        <p class="field">
            <span class="label">Italic as _foo_ instead of *foo* (Unavailable)</span>

            <a data-switch="editor_italic" data-switch-value="off" href="#">
                <small>on</small>
                <small>off</small>
            </a>
        </p>
    </div>

    <div class="group-btns">
        <h2>Data</h2>
        <div class="group">
            <a class="btn first" id="clear-cache" href="#">
                Clear inbox and achivements cache
            </a>
            <a class="btn" id="clear-all-data" href="#">
                Reset all data
            </a>
        </div>
    </div>
</div>
